<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.WishList.model.dao.WishListMapper">


    <select id="getAllWishListItems" resultType="com.kopo.finalproject.WishList.model.dto.WishListItem">
        SELECT *
        FROM WishListItem
    </select>

    <insert id="insertWishlistItem" parameterType="com.kopo.finalproject.WishList.model.dto.WishListItem">
        INSERT INTO WishListItem (MemberID, Title, Image, Price)
        VALUES (#{memberID}, #{title}, #{image}, #{price})
    </insert>

    <delete id="deleteWishListItem" parameterType="String">
        DELETE FROM WishListItem
        WHERE Title = #{title}
    </delete>
</mapper>