<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.WishList.model.dao.WishListMapper">


    <select id="getAllWishListItems" resultType="com.kopo.finalproject.WishList.model.dto.WishListItem">
        SELECT *
        FROM WishListItem
    </select>

    <!-- WishListItemMapper.xml -->

    <select id="getWishListItemsByMemberID" resultType="com.kopo.finalproject.WishList.model.dto.WishListItem">
        SELECT *
        FROM WishListItem
        WHERE MemberID = #{memberID}
        AND PurchaseStatus = 'F'
    </select>


    <insert id="insertWishlistItem" parameterType="com.kopo.finalproject.WishList.model.dto.WishListItem">
        INSERT INTO WishListItem (MemberID, Title, Image, Price)
        VALUES (#{memberID}, #{title}, #{image}, #{price})
    </insert>

    <delete id="deleteWishListItem" parameterType="String">
        DELETE FROM WishListItem
        WHERE Title = #{title}
    </delete>

    <update id="updateWishListItemPurchaseStatus">
        UPDATE WishListItem
        SET PurchaseStatus = 'T'
        WHERE WishListID = #{wishListID}
          AND MemberID = #{memberID}
    </update>
</mapper>